<table class="table table-hover" id="table_body">
    <thead>
    <tr>
        <th>Sales ID</th>
        <th>Customer Name</th>
        <th>Total</th>
        <th>Sales Date</th>                            
        <th>details</th>
    </tr>
    </thead>
    <tbody>
    <% @sales_info.each  do  |sale| %>
    <tr>
        <td><%= sale[:sale_no] %></td>
		<td><%= sale[:customer_name] %></td>
		<td><%= sale[:total] %></td>
		<td><%= sale[:created_at] %></td>
        <td>
        <a id="sale_detail_<%= sale[:sale_no] %>" class="details" data-toggle="modal"  data-target="#myModal" data-id="<%= sale[:sale_no] %>"> 
        details
        </a>
        </td>
    </tr>
    <% end %>
    </tbody>
</table>
<script type="text/javascript">
    
    function Globals(){
        var self = this; 
         self.get_sales_info=function(){
            var id;

            $(".details").click(function(event){
                    console.log('works');
            });
            
            <% @sales_info.each  do  |sale| %>
            $("#sale_detail_<%= sale[:sale_no] %>").click(function(){
                console.log("sales details pressed");
                id=$("#sale_detail_<%= sale[:sale_no] %>").attr('data-id');
                   console.log(id);
                   ajax_request(id);
            });
            <% end %>

            function ajax_request(id){
            var post_data={
                utf8: $("[name='utf8']").val(), 
                authenticity_token: $("[name='authenticity_token']").val(),
                sale_id: id,}

                $.ajax({
                url: 'getsalesinfo',
                type: 'POST',
                data: post_data ,
                dataType: 'text',
                success: function(data)
                    {
                        $('#sales_details_result').html(data);
                    }
                })
                .fail(function(data){
                    console.log(data);
                    });     
            }
        }   
        return self; 
    }

    var globals = new Globals();
    globals.get_sales_info();
</script>